<nav>
    <!-- Logo Section (CSS-based logo) -->
    <div class="logo">
        <span>Hungry</span>Hub
    </div>
    
    <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'manu' %}" >Menu</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <h3 href="#" class="" style="color: white;">Welcome, {{ user.username }}!</h3>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
</nav>