<nav>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'manu' %}">Menu</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        
        {% if user.is_authenticated %}
            <!-- Display Profile Link for Logged-in User -->
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <h1><a class="bi bi-person" style="color: white;" href="{% url 'profile' %}">Profile</a></h1>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
